<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baby.cy.babyfun" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="babyfun" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Animal.AnimalChoiceActivity"
            android:label="@string/title_activity_animal_choice"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Animal.Animal_Learn_Activity"
            android:label="@string/title_activity_animal__learn_"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Animal.Animal_Test_Activity"
            android:label="@string/title_activity_animal__test"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Number.NumberChoiceActivity"
            android:label="@string/title_activity_number_choice"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Number.NumberLearnActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Music.MusicChoiceActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Music.LocalMusicActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Music.MotherMusicActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Music.FindMusicActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Music.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Music.SetUserActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Music.ExitLoginActivity" >
        </activity>
        <activity android:name=".Music.PlayMusicActivity" >
        </activity>
        <activity android:name=".Music.BasePlayerActivity" >
        </activity>
        <activity android:name=".Music.MainActivity" >
        </activity>
        <activity android:name=".Music.BasePlayMusicActivity" >
        </activity>
        <activity android:name=".Music.DefaultPlayMusicActivity" >
        </activity>
    </application>

</manifest>
